{% extends "games/base.html" %}

{% block breadcrumbs %}{% endblock %}
{% block content_before %}{% endblock %}

{% block content %}
    <h1>{{ t("New games", "games") }}</h1>

    {{ slider() }}

    <ul class="games-list small-block-grid-2 medium-block-grid-3 large-block-grid-4">
    {% for model in models %}
        <li>
            <a href="{{ model.getAbsoluteUrl() }}">
                <img class="th" src="{{ model.logo.url_228x147 }}" alt="{{ model }}"/><br/>
                <span>{{ model }}</span>
            </a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}