{% extends "games/base.html" %}

{% block content %}
    <h1>{{ t('Chat', 'games') }}</h1>

    <div id="log-container">
        <div id="log"></div>

        <form id="form">
            <input type="text" id="msg" placeholder="{{ t("Message...", 'games') }}" />
            <input type="submit" value="{{ t('Send', 'games') }}" class="button" />
        </form>
    </div>
    <script type="text/javascript">
        $(function() {
            $("#msg").webchat({
                username: {% if user.isGuest %}null{% else %}'{{ user.username }}'{% endif %},
                socketUrl: 'ws://127.0.0.1:8082'
            });
        });
    </script>
{% endblock %}