{% extends "games/base-game.html" %}

{% block content %}
    <h1>{{ model }}</h1>

    {{ model.description|safe }}

    {% if model.file.value %}
        <p>&nbsp;</p>
        <p><a href="{{ model.file.url }}" class="button">{{ t('Download', 'games') }}</a></p>
    {% endif %}

    {% if not request.isAjax %}
        <h4>{{ t('Comments', 'comments') }} ({{ model.comments.count() }})</h4>
    {% endif %}
    {{ render_comments(request, "games/mod/_comments.html", model, model.comments)|safe }}
{% endblock %}